<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rasberry Pi GPIO Access</title>
</head>
<body>
  <h5>Rasberry Pi GPIO Access</h5>

  <div>
    <input type="radio" name="request" value="on" id="on-req" /><label for="on-req">on</label>
    <input type="radio" name="request" value="off" id="off-req" checked disabled/><label for="off-req">off</label>
  </div>

  <ul></ul>

  <%- include("./_share/javascripts.ejs"); %>
</body>
</html>